.sidebar-header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px 16px
  height: 60px
.sidebar-profile-picture
  & svg
    width: pxToRem(40)
    height: pxToRem(40)
.sidebar-item-

  &group
    display: flex
    justify-content: flex-end
    align-items: center
    width: 800px
    height: pxToRem(40)
    color: black
    text-align: center
    & svg
      width: pxToRem(24)
      height: pxToRem(24)

  &-stories
    width: pxToRem(40)
    height: pxToRem(40)
    @include flex-all
  &-new-message
    width: pxToRem(40)
    height: pxToRem(40)
    @include flex-all
    margin-left: 9px
  &-settings
    width: pxToRem(40)
    height: pxToRem(40)
    @include flex-all
    margin-left: 9px
